html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(../images/fca58d5c001bb183b360ed9659402dec.gif);
    background-image: no-repeat;
    background-size: 100vw 100vh;
    color: gold;
    font-family: 'Cinzel Decorative', cursive;
}

.crystal-container {
    max-width: 75vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: translate(50% 50%);
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

.crystals {
    flex: 1;
    height: 50%;
    max-height: 240px;
}

/*.crystal1 {
    background-image: url(../images/blue.png);
    background-size: cover;
    background-image: no-repeat;
}*/

/*.crystal2 {
    background-image: url(../images/green.png);
    background-size: cover;
    background-image: no-repeat;
}*/

/*.crystal3 {
    background-image: url(../images/red.png);
    background-size: cover;
    background-image: no-repeat;
}*/

/*.crystal4 {
    background-image: url(../images/ruppee.png);
    background-size: cover;
    background-image: no-repeat;
}*/

img {
    max-width: 100%;
    max-height: 100%;
}

#won {
    text-align: center;
    color: cornsilk;
    font-size: 40px;
    font-weight: bold;
}

#lost {
    text-align: center;
    color: cornsilk;
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 500px) {
    body {
        max-height: 100vh;
    }

    .crystal-container {
        width: 75vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        transform: translate(50% 50%);
        margin: auto;
    }
}

